*

!.gitignore
!.prettierignore
!LICENSE
!README.md
!eslint.config.js
!package-lock.json
!package.json
!prettier.config.js
!tsconfig.json
!tsup.config.ts

!.github/
!.github/workflows/
!.github/workflows/**
!src/
!src/**
!tests/
!tests/**
